.header {
    font-family: 'Muli', sans-serif;
    margin: auto;
    font-size: 15px;
    background-image: url('Seoul Scenery.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px;
}

.header-title {
    -webkit-text-stroke: 1.5px #000;
    color: #fff;
    font-size: 50px;
}

.david-bak {
    -webkit-text-stroke: 1.5px #000;
    color: #fff;
    text-decoration: none;
}

.prevent-select {
    user-select: none;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: sticky;
    top: 0;
    width: 100%;
}

.navigation-list {
    float: left;
}

.navigation-list-link {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation-list-link:not(.active):hover {
    background-color: #ddd;
}

.navigation-list-link:is(.active):hover {
    background-color: #00e5e5;
}

.active {
    background-color: #00ffff;
}
